body{
    background: whitesmoke;
    
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


/* SIDEBAR */

#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 290px;
    height: 100%;
    background: #144578;
    z-index: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .3s ease;
    overflow: hidden;
}
#sidebar.hide{
    width: 60px;
}
.flower-logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 10px;
}


#sidebar .brand{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-style: italic;
    text-decoration: none;
}

#sidebar .brand .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
}
#sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
    padding: 1px;
}
#sidebar .side-menu li{
    height: 48px;
    margin-left: 6px;
    background: transparent;
    border-radius: 48px 0 0 48px;
    padding: 4px;
    list-style: none;
}
#sidebar .side-menu li.active{
    background: var(--white-color,whitesmoke);
    position: relative;
}
#sidebar .side-menu li.active::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 whitesmoke;
    z-index: -1;
}
#sidebar .side-menu li.active::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 whitesmoke;
    z-index: -1;
}
#sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: #144578;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    text-decoration: none;
    color: var(--white-color,whitesmoke);
    white-space: nowrap;
    overflow-x: hidden;
}
#sidebar.hide .side-menu li.active a{
    color: lightskyblue;
}
#sidebar.hide .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}
#sidebar .side-menu li a.logout{
    color: lightcoral;
}
#sidebar .side-menu.top li a:hover{
    color: lightskyblue;
}
#sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}
/* SIDEBAR */


/* CONTENT */
#content{
    position: relative;
    width: calc(100% - 270px);
    left: 280px;
    transition: .3s ease;
}
#sidebar.hide ~ #content{
    width: calc(100% - 60px);
    left: 60px;
}


/* NAVBAR */
#content nav{
    height: 56px;
    background: #144578;
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    position: relative;
}
#content nav::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 #144578;
}
#content nav a{
    color: var(--white-color, whitesmoke);
    text-decoration: none;
}
#content nav .bx.bx-menu{
    cursor: pointer ;
}
#content nav .nav-link{
    font-size: 16px;
    transition: .3s ease;
}
#content nav .nav-link:hover{
    color: lightskyblue;
}
#content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}
#content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}
#content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: whitesmoke;
    border-radius:36px 0 0 36px;
    outline: none;
}
#content nav form .form-input button{
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightskyblue;
    color: whitesmoke;
    font-size: 18px;
    border: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}
#content nav .notification{
    font-size: 20px;
    position: relative;
}
#content nav .notification .num{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    background: red;
    color: whitesmoke;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}
/* NAVBAR */



/* MAIN */
#content main{
    width: 100%;
    padding: 36px 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#content main .head-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;    
}
#content main .head-title .left h1{
    font-size: 36px;
    font-weight: 780;
    margin-bottom: 10px;
}
#content main .head-title .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px; 
    list-style: none;
}
#content main .head-title .left .breadcrumb li a{
    color: darkslategrey;
    pointer-events: none;
    font-weight: 500;
    text-decoration: none;
}
#content main .head-title .left .breadcrumb li a.active{
    color: skyblue;
    pointer-events: unset;
}

#content main .box-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}
#content main .box-info li{
    padding: 24px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}
#content main .box-info li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: lightskyblue;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MAIN */  

/* CONTENT */


@media screen and (max-width: 768px){
    #content{
        position: relative;
        width: calc(100% - 60px);
    }
    #content nav .nav-link{
        display: none;
    }
}

@media screen and (max-width: 576px){
    #content nav form .form-input input{
        display: none;
    }
    #content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
    }

    #content nav formo.show .form-input input{
        display: block;
    }
    #content nav formo.show .form-input button{
        width: 36px;
        height: 100%;
        border-radius: 0 35px 36px 0;
        color: whitesmoke;
        background: red;
    }
}